<!DOCTYPE html>
<html lang="en">

  <head>

    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/app.js"></script>

    <script>
      var i = 1;

      if (true) {
        let i = 3;
        let j = 3;
      }

      console.log(i); // i is 1
      console.log(j); // j is not defined
    </script>


    <!-- Operatori aritmetici -->
    <script>


        // Operatore di addizione
        let somma = 5 + 3;
        console.log("Somma: " + somma); // Output: 8

        // Operatore di sottrazione
        let differenza = 10 - 4;
        console.log("Differenza: " + differenza); // Output: 6

        // Operatore di moltiplicazione
        let prodotto = 3 * 6;
        console.log("Prodotto: " + prodotto); // Output: 18

        // Operatore di divisione
        let quoziente = 15 / 3;
        console.log("Quoziente: " + quoziente); // Output: 5

        // Operatore di resto (resto della divisione)
        let resto = 10 % 3;
        console.log("Resto: " + resto); // Output: 1

        // Incremento
        let contatore = 5;
        contatore++;
        console.log("Contatore incrementato: " + contatore); // Output: 6

        // Decremento
        let decremento = 8;
        decremento--;
        console.log("Decremento: " + decremento); // Output: 7


    </script>


  </head>

  <body class="container">

    <main>
      <div>
        <h1>Capitolo 02</h1>
        <h2>Elementi base del linguagio</h2>
      </div>
    </main>

  </body>
</html>
