<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include('includes/styles') %>

    <script>

      debugger;

      let numero = 10;

      if (numero > 0) {
          console.log("Il numero è positivo");
      } else if (numero < 0) {
          console.log("Il numero è negativo");
      } else {
          console.log("Il numero è zero");
      }

    </script>

  </head>

  <body class="container">

    <main>
      <h1>Capitolo 03</h1>

      <h2>Controllo del flusso</h2>


      <p>Usa i <strong>dev-tools</strong>  per testare il codice incluso nella pagina</p>


    </main>

  </body>
</html>
