<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/styles') %>
</head>

<body class="container">

  <main>
    <div>
      <h1>Capitolo 08</h1>
      <h2>Eventi</h2>
    </div>

    <div id="outer">
      <div id="inner">
        <button id="btn">Click me</button>
      </div>
    </div>

    <button id="triggerBtn">Trigger Custom Event</button>

    <script>
      // Creiamo un nuovo evento personalizzato chiamato "customEvent"
      const customEvent = new Event('customEvent');

      // Aggiungiamo un gestore per l'evento personalizzato al documento
      document.addEventListener('customEvent', function(event) {
          console.log('Custom event triggered!');
      });

      // Aggiungiamo un gestore per un evento di clic sul pulsante di attivazione
      const triggerBtn = document.getElementById('triggerBtn');
      triggerBtn.addEventListener('click', function() {
          // Scateniamo l'evento personalizzato quando viene cliccato il pulsante
          document.dispatchEvent(customEvent);
      });
    </script>

    <script>
      const outerDiv = document.getElementById('outer');
      const innerDiv = document.getElementById('inner');
      const button = document.getElementById('btn');

      // Bubbling
      button.addEventListener('click', function () {
        console.log('Button clicked');
      });

      innerDiv.addEventListener('click', function () {
        console.log('Inner div clicked');
      });

      outerDiv.addEventListener('click', function () {
        console.log('Outer div clicked');
      });

      // Capturing
      button.addEventListener('click', function () {
        console.log('Button clicked capturing');
      }, true);

      innerDiv.addEventListener('click', function () {
        console.log('Inner div clicked capturing');
      }, true);

      outerDiv.addEventListener('click', function () {
        console.log('Outer div clicked capturing');
      }, true);
    </script>

  </main>

</body>

</html>