<!DOCTYPE html>
<html lang="en">

  <head>

    <scritp src="/javascripts/jquery.min.js"></scritp>

    <scritp src="/javascripts/app.js"></scritp>

    <script>
      var i = 1;

      if (true) {
        let i = 3;
        let j = 3;
      }

      console.log(i); // i is 1
      console.log(j); // j is not defined
    </script>

  </head>

  <body class="container">

    <main>
      <div>
        <h1>Capitolo 02</h1>
        <h2>Elementi base del linguagio</h2>
      </div>
    </main>

  </body>
</html>
