<!DOCTYPE html>
<html lang="en">

  <head>

    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/app.js"></script>

    <script>

      let numeri = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

      for (let i = 0; i < numeri.length; i++) {
          if (numeri[i] === 3) {
            console.log("Abbiamo trovato il valore 3, saltiamo questa iterazione.");
            continue;
          } else if (numeri[i] === 5) {
            console.log("Abbiamo trovato il valore 3, saltiamo questa iterazione.");
            break;
          }

          console.log("Valore corrente: " + numeri[i]);
      }

    </script>

  </head>

  <body class="container">

    <main>
      <div>
        <h1>Capitolo 03</h1>
        <h2>Primi passi con Javascript</h2>
      </div>
    </main>

  </body>
</html>
