<!DOCTYPE html>
<html lang="en">

  <head>
    <script>
      alert("Benvenuti!");


    </script>

  </head>


  <body class="container">

    <main>
      <div>
        <h1>Capitolo 01</h1>
        <h2>Primi passi con Javascript</h2>
      </div>
    </main>


  </body>
</html>
