<!DOCTYPE html>
<html lang="en">

  <head>
  </head>

  <body class="container">

    <main>
      <div>
        <h1>Index</h1>


        <ul>
          <li><a href="/chapter/01">Capitolo 01 - Primi passi con Javascript</a></li>
          <li><a href="/chapter/02">Capitolo 02 - Elementi base del linguaggio</a></li>
          <li><a href="/chapter/03">Capitolo 03 - Conrollo del flusso</a></li>
          <li><a href="/chapter/04">Capitolo 04</a></li>
          <li><a href="/chapter/05">Capitolo 05</a></li>
          <li><a href="/chapter/06">Capitolo 06</a></li>
          <li><a href="/chapter/07">Capitolo 07</a></li>
          <li><a href="/chapter/08">Capitolo 08 - Eventi</a></li>
          <li><a href="/chapter/09">Capitolo 09 - Form e dati della UI</a></li>
          <li><a href="/chapter/12">Capitolo 11 - Le Promise</a></li>
          <li><a href="/chapter/12">Capitolo 12 - Le classi in Javascript</a></li>

        </ul>
      </div>
    </main>


  </body>
</html>
