<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('includes/styles') %>
  </head>

  <body class="container">

    <main>

      <h1>Index</h1>

      <ul>
        <li><a href="/chapter/01">Capitolo 01 - Primi passi con Javascript</a></li>
        <li><a href="/chapter/02">Capitolo 02 - Elementi base del linguaggio</a></li>
        <li><a href="/chapter/03">Capitolo 03 - Conrollo del flusso</a></li>
        <li><a href="/chapter/04">Capitolo 04 - Introduzione alle funzioni</a></li>
        <li><a href="/chapter/05">Capitolo 05 - Introduzione a oggetti e API native di javascript </a></li>
        <li><a href="/chapter/06">Capitolo 06 - Funzioni: Aspetti avanzati</a></li>
        <li><a href="/chapter/07">Capitolo 07 - Browser API</a></li>
        <li><a href="/chapter/08">Capitolo 08 - Eventi</a></li>
        <li><a href="/chapter/09">Capitolo 09 - Form e dati della UI</a></li>
        <li><a href="/chapter/11">Capitolo 11 - Le Promise</a></li>
        <li><a href="/chapter/12">Capitolo 12 - Le classi in Javascript</a></li>
        <li><a href="/chapter/13">Capitolo 13 - I Custom web components</a></li>
        <li><a href="/chapter/14">Capitolo 14 - I Sorgenti e i bundle</a></li>
        <li><a href="/chapter/15">Capitolo 15 - Storage e File API</a></li>
      </ul>

      <h2>Extras</h2>
      <ul>
        <li><a href="/extras">Capitolo 15 - Storage e File API</a></li>
      </ul>

    </main>

  </body>
</html>
